.parent{
    background-color: grey;
height: 400px;
width: 500px;
border-radius: 10px;
padding: 10px;
margin-left: 450px;
margin-top: 100px;

}
.child1{
    padding: 10px;
    margin-left: 20px;
    margin-top: 50px;
    color: white;
}
.child2{
    padding: 10px;
    margin-left: 130px;
    margin-top: 40px;
}
.child2 button{
    background-color: orangered;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    color: white;
    margin-left: 35px;
}
.child1 h1{
    color: white;
    margin-left: 150px;
}
